<h2>Add configs:</h2>
<p>Id: <b><%= id %></b></p>
<form action="/add_config" method="post">
    <label for="config">Config JSON:</label><br><br>
    <textarea id="config" name="config" rows="20" cols="100" placeholder="{}"></textarea><br><br>
    <input type="submit" value="Submit">
</form>